html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.form {
	background-color: #f5f5f5;
	input[type="text"], input[type="email"], textarea {
		max-width: 100%;
    font-size: 14px;
		display: block;
		border: 1px solid #e7e7e7;
		border-radius: 3px;
		transition: box-shadow .15s ease-in-out 0s;
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 2px #4391eb;
		}
	}

	label {
		margin-right: 4px;
	}
	label span {
		display: block;
		margin-bottom: 4px;
	}

	&__row {
		display: flex;
		padding: 1rem;
	}
}
